{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}


<div class="search-container">
  <input type="text" id="searchBar" placeholder="Search for tasks...">
</div>
<div class="tasks-container" id="tasksContainer">
  <!-- Tasks will be loaded here -->
</div>

<script>
  document.getElementById('searchBar').addEventListener('keyup', function() {
      var query = this.value;
      fetch('/search', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json'
          },
          body: JSON.stringify({ query: query })
      })
      .then(response => response.json())
      .then(data => {
          var tasksContainer = document.getElementById('tasksContainer');
          tasksContainer.innerHTML = '';

          data.forEach(task => {
              var taskDiv = document.createElement('div');
              taskDiv.className = 'task';
              taskDiv.innerHTML = `<h3>${task.title}</h3><p>${task.description}</p>`;
              tasksContainer.appendChild(taskDiv);
          });
      });
  });
</script>

{% endblock %}